.card{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 2rem;
}

.image {
  width: 100%;
  height: 150px;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
}